body {
  background: linear-gradient(120deg, #79fc7f 0%, #96e6a1 100%);
}
h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
p {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
a {
  color: lightseagreen;
  text-align: center;
}
